a.phpdebugbar-tab.phpdebugbar-active {
    background: #68b604;
    color: #fff;
}
div.phpdebugbar-header {
    padding-left: 55px;
}
div.phpdebugbar-header, 
a.phpdebugbar-restore-btn {
    background-color: rgba(246, 246, 246, 0.4);
    background-repeat: no-repeat;
    background-position: 9px 10px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAPCAYAAAAceBSiAAAAAXNSR0IArs4c6QAAAAZiS0dEAH8A9wAAMkqpNAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB9wCCwIWGuaXOlYAAAJiSURBVDjLldS/i1xVFAfwz8leJxF/FdFUNjayhYpCkBATxEIwb0D/ADFpIjMgCDGQQtBCIWVAY/EmIGKbRpt9q6CFplIL8UfvL2SLqBBRUHzDsdi3O7Ozb7KbA493udz7Pff7Pd9zYtyUkumrCI/YfxzARvJgcDeeT54Mbs/cP0iBCNEB7i/SNMNxPIBPcCRu4eURMwaS2DNd908Ir0yq9sfgTRxZBN7jyw7xh4KpdA73LGaL8Lf0MoZia8tnddW+PVorgWdvQa0tipFsYHhTxqO18miEr3N29Y9J1R6GcVMCr+PfbfhZgl1Kd/9ppm8nw/ZjbiL3aK0U4TtptZMqUNVVu754drxWHhKOZjoYsYvwivTBZNhu9BpuSVzGagcWeK8v8agpDU7NG6nHYNdsSt0rxyLr0xHen6vUF3XVHtvFuClv4LUdFd0dv9ZVe/+4KSdxEY/hF5wvPYnvjXAps2OS/slwtudcZHphrlX7uyM9060v4Wi3XsWV0iPFhzgcIaXo2ur7Jb16Q/qyx9it9DMuT4bbd1/FIfyEb7ASC2zeifBSpuzYvFtX7dmlpmzKwKZC/9VVm/NmjTCd35sr1Sk0OBdzQI8H13BbpojwZ2ek6zmTcUud63XV3uic/pRwAceSg8Gh5L5J1f7ek/g41nG1rtoXS5d4Jfg0GUSHntwhNRELTtp8yQVcGTflOVyVBjk79NuSxA/jI3yOEZRuUq3jztgebGBF7Jx6He2MNOgecl4YzE0/OLOkSm/hLgwxHTfFgeB08PQe7bLTxrHpdpzoBn5E+gtn6qptllx9YnHjf9NI2tXkjbmCAAAAAElFTkSuQmCC');
}
a.phpdebugbar-tab span.phpdebugbar-badge {
    padding: 3px 7px;
    top: -2px;
    position: relative;
    background-color: #68b604;
    color: #fff;
    font-weight: bold;
}
a.phpdebugbar-tab.phpdebugbar-active span.phpdebugbar-badge {
    background-color: #fff;
    color: #68b604;
}
div.phpdebugbar-header > div > * {
    padding: 10px !important;
}
a.phpdebugbar-minimize-btn,
a.phpdebugbar-maximize-btn {
    background-position: 10px 12px;
}
a.phpdebugbar-close-btn {
    background-position: center 11px;
    border-right: none;
}
div.phpdebugbar-header-right {
    margin-right: 5px;
}
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar,
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar input {
    background-color: #f5f5f5;
    padding: 2px;
    border-top: 1px solid #e9e9e9;
}
div.phpdebugbar-widgets-messages div.phpdebugbar-widgets-toolbar input {
    border: none;
}
a.phpdebugbar-restore-btn {
    width: 35px;
    height: 25px;
    border-radius: 15px 0 0 0;
    border-top: 1px solid #ccc;
}
div.phpdebugbar-closed {
    border-top: 0;
    right: 0;
    left: auto;
}
.phpdebugbar-fa.phpdebugbar-fa-search::after {
    content: " \203A";
}
div.phpdebugbar-widgets-sqlqueries table.phpdebugbar-widgets-params td,
div.phpdebugbar-widgets-sqlqueries table.phpdebugbar-widgets-params th {
    text-align: left;
    padding: 5px;
}
div.phpdebugbar-resize-handle {
    border-bottom: 0;
}